<header>
  <nav class="nav">
    <div class="nav-right">
      <a href="{{ "index.html" | prepend: site.base_url }}">Inicio</a>
      <a href="{{ "communities.html" | prepend: site.base_url }}">Comunidades</a>
      <a href="{{ "books.html" | prepend: site.base_url }}">Libros</a>
    </div>
    <div class="nav-center">
      <a class="nav__logo" href="{{ site.baseurl }}/"></a>
    </div>
    <div class="nav-left">
      <a href="http://rubyonrails.org" target="_blank">Página oficial</a>
      <a href="https://guides.rubyonrails.org/" target="_blank">Guías</a>
      <a href="https://api.rubyonrails.org/" target="_blank">API</a>
    </div>
  </nav>
</header>
