:root {
  --bg-color: #ffffff;
  --bg-secondary-color: #f3f3f6;
  --color-primary: #D30001; /*#14854F;*/
  --color-lightGrey: #d2d6dd;
  --color-grey: #747681;
  --color-darkGrey: #3f4144;
  --color-error: #d43939;
  --color-success: #28bd14;
  --grid-maxWidth: 120rem;
  --grid-gutter: 2rem;
  --font-size: 1.8rem;
  --font-color: #333333;
  --font-family-sans: sans-serif;
  --font-family-mono: monaco, "Consolas", "Lucida Console", monospace;
}

header {
  margin: 1em auto;
}

nav a {
  font-weight: 700;
}

.nav__logo {
  height: 112px;
  /*left: calc(50% - 56px);*/
  width: 112px;
  background: #D30001;
  border-radius: 100%;
  height: 86px;
  /*left: calc(50% - 43px);*/
  position: relative;
  /*top: 20px;*/
  transition: background 0.25s cubic-bezier(0.33, 1, 0.68, 1);
  width: 86px;
  z-index: 2;
}

.nav__logo::after {
  background-image: url(../images/logo.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  content: '';
  filter: brightness(0) invert(1);
  height: 24px;
  left: 9px;
  position: absolute;
  top: 26px;
  width: 67px;
}

h1 {
color: var(--color-primary);
  font-weight: 700;
}

footer {
position: absolute;
  bottom: 1em;
}

.banner {
  padding: .5em;
background-color: #F0E7E9;
}
.banner a { 
  color: var(--color-drakGrey);
}
